{% extends 'flatpages/default.html' %}
{% load news_filters %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="postdeteil">
        <h1>{{ post.title }}</h1>
        <p>Категория: {{ post.category }} Пользователь: {{ post.author }}<br> Дата: {{ post.time }}</p>
        {% if post.photo %}
            <img class="img-article-left" src="{{ post.photo.url }}">
        {% endif %}
        {% if post.video %}
            <video class="video" controls src="{{ post.video.url }}"></video>
        {% endif %}
        <h5>{{ post.text|censor }}</h5>
        <div class="like">
            <a href="{% url 'like' post.pk %}"> Лайк <i class="fa-regular fa-thumbs-up"></i> {{ post.rating }}</a>
            <a href=""> Коментировать <i class="fa-regular fa-comment"></i></a>
        </div>
    </div>
{% endblock content %}