{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}Новостная лента{% endblock %}
{% block content %}
<div class="features">
    <h1> Количество публикаций: {{ posts|length }} </h1>
    <h1> Список новостей </h1>
        {% if posts %}
            {% for post in posts %}
                <p>{{ post.author }} {{ post.time|date:'d M Y' }}</p>
                <p><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></p>
                <p>{{ post.text|truncatechars:5 }}</p>
                <hr>
            {% endfor %}
        {% else %}
        <h2> Новостей нет! =( </h2>
        {% endif %}
</div>
{% endblock %}
