{% extends 'flatpages/default.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="postdeteil">
        <h1>{{ post.title }}</h1>
        <p>Категория: {{ post.category }} Пользователь: {{ post.author }}<br> Дата: {{ post.time }}</p>
        {% if post.photo %}
            <img class="img-article-left" src="{{ post.photo.url }}">
        {% endif %}
        {% if post.video %}
            <video class="video" controls src="{{ post.video.url }}"></video>
        {% endif %}
        <h5>{{ post.text }}</h5>
        <a class="btn btn-outline-dark" href="{% url 'like' post.pk %}"> Лайк <i class="fa-regular fa-thumbs-up"></i> {{ post.rating }}</a>
    </div>
{% endblock content %}