{% extends 'flatpages/default.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="features">
        <h1>{{ post.title }}</h1>
        <p>Категория:{{ post.category }} Пользователь:{{ post.author }} Дата: {{ post.time }}</p>
        {% if post.photo %}
            <p><img class="img-article-left" width="300px" src="{{ post.photo.url }}"></p>
        {% endif %}
        {% if post.video %}
            <p><video class="video" controls width="700px" src="{{ post.video.url }}"></video></p>
        {% endif %}
        <p>{{ post.text }}</p>
    </div>
{% endblock content %}