{% extends 'flatpages/default.html' %}
{% load static %}
{% load news_filters %}

{% block title %}Новостная лента{% endblock %}
{% block content %}
<div class="features">
    <h1> Список новостей </h1>
        {% if posts %}
            {% for post in posts %}
<!--                <p>Категория: {{ post.category }}<br>Пользователь: {{ post.author }} Дата: {{ post.time }}</p>-->
                <div class="list_title">
                    <h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
                </div>
                {% if post.photo %}
                    <img class="img_list" src="{{ post.photo.url }}">
                {% endif %}
                {% if post.video %}
                    <video class="video" controls width="650px" src="{{ post.video.url }}"></video>
                {% endif %}
                <p>{{ post.text|truncatechars:30|censor }}</p>
                {% if not forloop.last %}
                <img class="hrline" height="120px" src="{% static 'news/img/hr_dog.svg' %}" alt="hr_line">
                {% endif %}
            {% endfor %}
        {% else %}
        <h2> Новостей нет! =( </h2>
        {% endif %}
</div>
{% endblock %}
