* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    transition: all .3s;
}

:root {
  --border-color: #48280f;
}

html {
    overflow-x: hidden;
}

body {
    background: #a18163; /* цвет контента */
    display: flex; /* Создаем гибкую структуру */
    flex-direction: column; /* Располагаем элементы вертикально */
    min-height: 100vh; /* Минимальная высота равна высоте вьюпорта */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fbfbf1;
    padding: 10px;
    border-bottom: 4px solid var(--border-color);
}

header nav {
    max-width: 1700px;
    margin: 0 auto;
}

header .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-header img {
    width: 80px;
}

header .nav-header .logo {
    color: #48280f;
    font-size: 3rem;
    font-weight: 700;
}

header .nav-header .nav-btn {
    background: none;
    color: #48280f;
    font-size: 2.5rem;
    cursor: pointer;
}

header .nav-header .nav-btn .close-menu {
    display: none;
}

header .navbar .nav-link {
    font-size: 22px;
    color: #eca646;
    padding: 15px;
    display: inline-block;
    transition: all .3s ease-in;
}

header .navbar .nav-link:hover {
    color: #48280f;
}

header .navbar {
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in;
    display: flex;
    flex-direction: column;      /* Элементы идут сверху вниз */
    align-items: center;        /* Центрируем по горизонтали */
    padding: 0 1rem;            /* Только по горизонтали */
    margin: 0;
}

header .navbar.active {
    height: auto;               /* Вместо фиксированной высоты — автоматическая */
    overflow-y: auto;       /* Полоса прокрутки, если контента больше */
    padding: 1px 0;          /* Отступы сверху и снизу при раскрытии */
}

header .nav-header .nav-btn.active .open-menu {
    display: none;
}

header .nav-header .nav-btn.active .close-menu {
    display: block;
}

@media screen and (min-width:1350px) {
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    header .navbar {
        all: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .nav-btn {
        display: none;
    }
}

main {
    margin-top: 100px; /* отступ сверху */
    text-align: center; /* расположение по центру */
}


main .features {
    float: left; /* позиция */
    color: #fbfbf1; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
}

main .features .video {
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

main .features .img_list {
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

main .features .list_title h3 {
    font-size: 30px;
    display: inline-block;
    transition: transform .6s ease;
}

main .features .list_title h3:hover {
    transform: scale(1.20);
}

main .features h1 {font-size: 50px;} /* размер шрифта */
main .features p {max-width: 400px; margin: 10px auto;} /* ширина 400; отступ сверху и снизу 20 по бокам авто*/


a { text-decoration: none; }

 /* тест настройка */
main .features h3 a {
    padding: 20; /* отступы */
    color: #48280f; /* цвет шрифта */
    display: block; /* блочные елементы */
}

main .features a {
    color: #eca646;
}

main .features h4 {
    color: #48280f;
}

main .btn-primary {
    background-color: #eca646; /* цвет кнопки */
    width: 200px;
}

ul { list-style-type: none; }  /* убрал точки из контента */

main .account {
    float: left; /* позиция */
    color: #fff; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
}
main .account h1 {font-size: 50px;} /* размер шрифта */
main .account p {
    max-width: 400px; /* ширина 400 */
    margin: 20px auto; /* отступ сверху и снизу 20 по бокам авто*/
}

main .account input {
    padding: 2px 4px
}

main .account a {
    padding: 20; /* отступы */
    color: #48280f; /* цвет шрифта */
    display: block /* блочные елементы */
}

main .account button {
    color: #48280f;
}


main .account .exit button {
    color: #48280f;
    width: auto; /* ширина */
    font-size: 20px; /* размер шрифта */
    background: #eca646; /* фон */
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    padding: 1px 6px;
}

.footer {
  margin-top: auto;
  background: #945b36;
  width: 100%;
  border-top: 5px solid var(--border-color);
  padding: 1rem 0; /* Отступы сверху/снизу */
}

.footer__container {
  max-width: 1140px;  /* немного меньше, чем max-width .footer, чтобы был отступ */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

/* Иконки (если используете Font Awesome) */
.footer__contact i {
  font-size: 1.2rem;
}

address {
    color: #fff;
}

/* Контактные данные */
.footer__contact {
  flex: 1 1 250px;
  font-style: normal;
  line-height: 1.8;
}

.footer__contact a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__contact a:hover {
  color: #000000;
  text-decoration: none;
}


/* Мобильные: вертикальная укладка, уменьшенные отступы */
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;   /* центрируем address */
    text-align: center;
  }

  .footer__contact {
    flex: none;
  }
}

/* Планшеты: 2 колонки */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer__container {
    justify-content: center;
  }

  .footer__contact {
    text-align: center;
  }
}

/* Десктопы: 3 колонки (исходная версия) */
@media (min-width: 1024px) {
  .footer__container {
    justify-content: center;
  }

  .footer__contact {
    text-align: center;
  }
}

main .postdeteil {
    color: #fbfbf1; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
    min-width: 1650px;
}

main .postdeteil h1 {font-size: 50px;} /* размер шрифта */
main .postdeteil p {max-width: 600px; margin: 20px auto;} /* ширина 600; отступ сверху и снизу 20 по бокам авто*/
main .postdeteil h5 {max-width: 1000px; margin: 20px auto;}

main .postdeteil img {
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

main .postdeteil video {
    width: 500px;
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}
main .like {
    display: block;
    margin: auto;
}


main .like a {
    display: inline-block;
    background: #eca646;
    color: #48280f;
    font-size: 20px;
    margin: 10px;
    width: 200px;
    height: 36px;
    border: 3px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}


main .pets1 {
    float: left; /* позиция */
    color: #fbfbf1; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
}


.filter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .features .filter-form p {
    width: 300px; /* ширина */
    font-size: 25px; /* размер шрифта */
    margin-top: 5px; /* внешний отступ */
}

.filter-form input:not([type='submit']),
.filter-form select {
    width: 100%; /* ширина */
    box-sizing:border-box;
    background: #e2d6c1; /* фон */
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    padding: 0px 10px;
}

.filter-form input[type='submit']{
    width: auto; /* ширина */
    font-size: 20px; /* размер шрифта */
    background: #eca646; /* фон */
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    padding: 2px 6px;
}

.form-create{
    display: flex; /*  */
    flex-direction: column; /*  */
    align-items: center; /*  */
}

main .features .form-create p{
    width: 350px; /* ширина */
    font-size: 20px; /* размер шрифта */
    margin-top: 5px; /* внешний отступ сверху */
}

.form-create input:not([type='submit']),
.form-create select {
    color: #48280f; /*  */
    background: #e2d6c1; /* фон */
    box-sizing:border-box; /*  */
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    padding: 0px 10px;
}

.form-create input[type='submit']{
    width: auto; /* ширина */
    font-size: 20px; /* размер шрифта */
    background: #eca646; /* фон */
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    padding: 2px 6px;
}

main .features .form-create p textarea{
    width: 350px; /* ширина */
    font-size: 20px; /* размер текста */
    margin-top: 5px; /* внешний отступ сверху */
    background: #e2d6c1; /* фон */
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    padding: 0px 10px;
}

main .about {
    float: left; /* позиция */
    color: #fbfbf1; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
}

main .about p {
    font-size: 25px; /* размер шрифта */
    max-width: 1000px; /* ширина 1000 */
    margin: 10px auto; /* внешний отступ сверху и снизу 10 по бокам авто*/
}

.pagination {
    display: flex; /*  */
    justify-content: center; /* выравнивание по горизонтали */
}

.pagination ul {
    display: flex;
    border: 4px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    padding-left: 0px; /* убирает отспуп слева */
}

.pagination ul li {
    padding: 10px; /* отступы */
}

.page-pagination {
    color: #48280f; /* цвет текста */
    border: 3px solid var(--border-color); /* граница элемента,толщиной 3рх ,сплошная линия  */
    border-radius: 30px; /* закругление границ элемента */
    font-size: 20px; /* размер текста */
    padding: 2.5;  /* отступы */
}
.page-active {
    color: #e2d6c1; /* цвет текста */
    border: 3px dotted #e2d6c1; /* граница элемента,толщиной 3рх ,сплошная линия  */
    border-radius: 30px; /* закругление границ элемента */
    font-size: 20px; /* размер текста */
    padding: 2.5;  /* отступы */
}

.like-btn {
    margin: 10px; /* внешний отступ со всех сторон */
    border: 3px solid var(--border-color); /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    font-size: 18px; /* размер текста */
    background: #eca646;
    padding: 2px 6px;
}


.like-count {
    margin: 10px; /* внешний отступ со всех сторон */
    color: #48280f;
    font-size: 18px; /* размер шрифта */
    padding: 2px; /* внутренний отступ */
}

.comment hr {
    width: 50%;        /* длина линии (50% от контейнера) */
    margin: 10px auto; /* отступы сверху/снизу 10px; auto — центрирует */
    border: none; /* полностью убирает рамку */
    border-top: 1px solid #ccc; /* стиль линии */
}

.update_or_delete_comm {
    display: block;
    margin: auto;
}


.update_or_delete_comm a {
    display: inline-block;
    color: #48280f;
    font-size: 15px;
    margin: 5px;
    width: 150px;
    height: 20px;
}
