ENVIRONMENT=
DEBUG=

DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

SECRET_KEY=

YANDEX_CLIENT_ID=
YANDEX_SECRET=

VK_CLIENT_ID=
VK_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

CSRF_TRUSTED_ORIGINS=
ALLOWED_HOSTS=

CREATE_SUPERUSER=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

SESSION_COOKIE_SECURE=
CSRF_COOKIE_SECURE=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
