ENVIRONMENT=
DEBUG=

DB_NAME=
DB_HOST=
DB_PORT=
DB_LOGIN=
DB_PASS=

SECRET_KEY=

YANDEX_CLIENT_ID=
YANDEX_SECRET=

VK_CLIENT_ID=
VK_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=