body {
    background: #a18163; /* цвет контента */
    display: flex; /* Создаем гибкую структуру */
    flex-direction: column; /* Располагаем элементы вертикально */
    min-height: 100vh; /* Минимальная высота равна высоте вьюпорта */
}

nav {
    position: fixed; /* прикрепление панели */
    background: #fbfbf1; /*цвет панели сверху */
    padding: 2.5; /* отступы */
    height: 90px; /* высота блока */
    width: 100%; /* ширина блока */
    min-width: 1650px;
    color: #48280f; /* цвет текста */
    border-bottom: 5px solid #48280f;
}

nav img {
    width: 80px; /* ширина картинки */
    float: left; /* расположение */
}

nav .logo {
    font-size: 40px; /* размер шрифта */
    font-weight: bold; /* жирный шрифт */
    position: fixed; /* прикрепление */
    top: 9px;
}

nav ul {
    list-style: none;
    float: right;
    font-size: 24px;
}

nav ul li {
    color: #eca646; /* цвет шрифта */
    display: inline-block; /* строчно-блочное отображение */
    margin-top: 23px; /* отступ сверху */
    margin-right: 50px; /* отступ справа */
    transition: transform .6s ease; /* плавность для transform */
}

nav ul li:hover, nav ul a:hover {
    color: #48280f; /* цвет при наведении */
    text-decoration: none; /* убрана полоса при наведении */
    transform: scale(1.05); /* увелечение при наведение */

}

main {
    margin-top: 100px; /* отступ сверху */
    text-align: center; /* расположение по центру */
}


main .features {
    float: left; /* позиция */
    color: #fbfbf1; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
}

main .features .video {
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

main .features .img_list {
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

main .features .list_title h3 {
    font-size: 30px;
    display: inline-block;
}

main .features .list_title h3:hover {
    transform: scale(1.10);
}

main .features h1 {font-size: 50px;} /* размер шрифта */
main .features p {max-width: 400px; margin: 10px auto;} /* ширина 400; отступ сверху и снизу 20 по бокам авто*/


a { text-decoration: none; }

 /* тест настройка */
main .features h3 a {
    padding: 20; /* отступы */
    color: #48280f; /* цвет шрифта */
    display: block; /* блочные елементы */
}

main .btn-primary {
    background-color: #eca646; /* цвет кнопки */
    width: 200px;
}

ul { list-style-type: none; }  /* убрал точки из контента */

/*.alert-warning {
    float: left;
    clear: both;
    width: 700px;
    margin: 20px 34%;
    text-align: left;
} не понял откуда код, позже убрать как разберусь */

main .account {
    float: left; /* позиция */
    color: #fff; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
}
main .account h1 {font-size: 50px;} /* размер шрифта */
main .account p {max-width: 400px; margin: 20px auto;} /* ширина 400; отступ сверху и снизу 20 по бокам авто*/

main .account a {
    padding: 20; /* отступы */
    color: #48280f; /* цвет шрифта */
    display: block /* блочные елементы */
}

main .account button {
    color: #48280f;
}

main .account .vk {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: auto; /* Здесь вступает в действие магия Flexbox */
    background: #945b36; /*цвет панели сверху */
    height: 100px; /* высота блока */
    width: 100%; /* ширина блока */
    min-width: 1650px;
    border-top: 5px solid #48280f;
}

footer ul a {
    display: inline-block;
    color: 000000;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 100px;
}

main .postdeteil {
    color: #fbfbf1; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
    min-width: 1650px;
}

main .postdeteil h1 {font-size: 50px;} /* размер шрифта */
main .postdeteil p {max-width: 600px; margin: 20px auto;} /* ширина 600; отступ сверху и снизу 20 по бокам авто*/
main .postdeteil h5 {max-width: 1000px; margin: 20px auto;}

main .postdeteil img {
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

main .postdeteil video {
    width: 500px;
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}
main .like {
    display: block;
    margin: auto;
}


main .like a {
    display: inline-block;
    background: #eca646;
    color: #48280f;
    font-size: 20px;
    margin: 10px;
    width: 200px;
    height: 36px;
    border: 3px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}


main .pets1 {
    float: left; /* позиция */
    color: #fbfbf1; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
}


.filter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .features .filter-form p{
    width: 300px;
    font-size: 25px;
    margin-top: 5px;

}

.filter-form input:not([type='submit']),
.filter-form select {
    width: 100%;
    box-sizing:border-box;
    background: #e2d6c1;
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

.filter-form input[type='submit']{
    width: auto;
    font-size: 20px;
    background: #eca646;
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

.form-create{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .features .form-create p{
    width: 350px;
    font-size: 20px;
    margin-top: 5px;
}

.form-create input:not([type='submit']),
.form-create select {
    color: #48280f;
    width: 100%;
    background: #e2d6c1;
    box-sizing:border-box;
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

.form-create input[type='submit']{
    width: auto;
    font-size: 20px;
    background: #eca646;
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

main .features .form-create p textarea{
    width: 350px;
    font-size: 20px;
    margin-top: 5px;
    background: #e2d6c1;
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
}

main .about {
    float: left; /* позиция */
    color: #fbfbf1; /* цвет */
    text-align: center; /* расположение по центру */
    width: 100%; /* ширина */
}

main .about p {
    font-size: 25px; /* размер шрифта */
    max-width: 1000px; /* ширина 1000 */
    margin: 10px auto; /*отступ сверху и снизу 10 по бокам авто*/
}
.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul {
    display: flex;
    border: 4px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    padding-left: 0px; /* убирает отспуп слева */
}

.pagination ul li {
    padding: 10px; /* отступы */
}

.page-pagination {
    color: #48280f; /* цвет текста */
    border: 3px solid #48280f; /* граница элемента,толщиной 3рх ,сплошная линия  */
    border-radius: 30px; /* закругление границ элемента */
    font-size: 20px; /* размер текста */
    padding: 2.5;  /* отступы */
}
.page-active {
    color: #e2d6c1; /* цвет текста */
    border: 3px dotted #e2d6c1; /* граница элемента,толщиной 3рх ,сплошная линия  */
    border-radius: 30px; /* закругление границ элемента */
    font-size: 20px; /* размер текста */
    padding: 2.5;  /* отступы */
}

.like-btn {
    margin: 10px;
    border: 3px solid #48280f; /* граница элемента,толщиной 4рх ,сплошная линия  */
    border-radius: 32px; /* закругление границ элемента */
    font-size: 18px; /* размер текста */
    background: #eca646;
}

.like-count {
    margin: 10px;
    color: #48280f;
    font-size: 18px;
    padding: 2px;
}

.comment hr {
    width: 50%;        /* длина линии (50% от контейнера) */
    margin: 10px auto; /* отступы сверху/снизу 10px; auto — центрирует */
    border: none;
    border-top: 1px solid #ccc; /* стиль линии */
}