{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block title %} Вход {% endblock title %}
{% block content %}
    <div class="account">
    {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_login' as login_url %}
        <form method="post" action="{{ login_url }}" class="filter-form">
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {{ redirect_field }}
            <div class="form-actions mt-3">
                <button type="submit" class="btn btn-outline-dark" style="width: 200px">
                    {% trans "Sign In" %}
                </button>
            </div>
        </form>
    {% endif %}
        <div class="vk">
            <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
                <script type="text/javascript">
                    if ('VKIDSDK' in window) {
                        const VKID = window.VKIDSDK;

                        VKID.Config.init({
                            app: 54283195,
                            redirectUrl: 'http://localhost',
                            responseMode: VKID.ConfigResponseMode.Callback,
                            source: VKID.ConfigSource.LOWCODE,
                            scope: 'email', // Заполните нужными доступами по необходимости
                        });

                        const oneTap = new VKID.OneTap();

                        oneTap.render({
                            container: document.currentScript.parentElement,
                            showAlternativeLogin: true,
                            styles: {
                                borderRadius: 5,
                                width: 300
                            }
                         })
                        .on(VKID.WidgetEvents.ERROR, vkidOnError)
                        .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function (payload) {
                            const code = payload.code;
                            const deviceId = payload.device_id;

                        VKID.Auth.exchangeCode(code, deviceId)
                          .then(vkidOnSuccess)
                          .catch(vkidOnError);
                      });

                    function vkidOnSuccess(data) {
                        // Обработка полученного результата
                    }

                    function vkidOnError(error) {
                        // Обработка ошибки
                    }
                    }
                </script>
            </div>
    {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button_group vertical=True %}
            {% if PASSKEY_LOGIN_ENABLED %}
                {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                    {% trans "Sign in with a passkey" %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED %}
                {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                    {% trans "Send me a sign-in code" %}
                {% endelement %}
            {% endif %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
    </div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}