{% extends 'flatpages/default.html' %}
{% load cache %}
{% block title %}О нас{% endblock %}

{% block content %}
    {% cache 600 contacts %}
<div class="about">
    <p>Всем привет!) Меня зовут Лиза, я заводчик.</p>
    <p>С любовью занимаюсь французскими бульдогами и бенгальскими кошками с эксклюзивными, редкими окрасами💜</p>
    <p>Мечтаете о ласковом бенгальце с узором как у дикой кошки или о харизматичном французике необычного оттенка?</p>
    <p>Подберем вашего идеального малыша – того самого, кто покорит ваше сердце с первого взгляда! ❤️🙂</p>
    <p>Каждый наш питомец – часть семьи. Они растут в атмосфере любви, заботы и правильной социализации. Мы не гонимся за количеством, для нас главное – здоровье, характер и счастье каждого хвостика💕</p>
    <p>🐾Ищете не просто питомца, а верного друга на всю жизнь?</p>
    <p>Обращайтесь заранее! Мы с радостью расскажем все подробности, покажем родителей и вместе выберем вашего неповторимого малыша✨</p>
</div>
    {% endcache %}
{% endblock %}
