{% extends 'flatpages/default.html' %}
{% load news_filters %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="postdeteil">
    <h1>{{ post.title }}</h1>
    <p>Категория: {{ post.category }} | Автор: {{ post.author }} | Дата: {{ post.time }}</p>

    {% if post.media.exists %}
        {% for m in post.media.all %}
            {% if m.media_type == 'photo' %}
                <img class="img-article-left" src="{{ m.file.url }}" alt="{{ post.title }}">
            {% elif m.media_type == 'video' %}
                <video class="video" controls>
                    <source src="{{ m.file.url }}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Медиа отсутствует</p>
    {% endif %}



    <h5>{{ post.text|censor }}</h5>

    <!-- Лайки -->
    <div class="like">
        <button class="like-btn" data-post-slug="{{ post.slug }}">
            {% if request.user in post.liked_users %}
                Убрать лайк
            {% else %}
                Лайк 👍
            {% endif %}
        </button>

        <span class="like-count" data-post-slug="{{ post.slug }}">
            {{ post.like_count }}
        </span>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            $('.like-btn').click(function() {
                var slug = $(this).data('post-slug');

                $.ajax({
                    url: `/post/${slug}/like/`,
                    type: 'POST',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    success: function(response) {
                        $(`.like-btn[data-post-slug="${slug}"]`).text(
                            response.liked ? 'Убрать лайк' : 'Лайк 👍'
                        );
                        $(`.like-count[data-post-slug="${slug}"]`).text(response.count);
                    }
                });
            });
        });
        </script>

        <a href="{% url 'post_comment' post.slug %}"> Комментировать <i class="fa-regular fa-comment"></i></a>
        {% if post.author == request.user or request.user.is_staff %}
            <a href="{% url 'post_update' post.slug %}"> Редактировать <i class="fa-regular fa-pen-to-square"></i></a>
        {% endif %}
        {% if request.user.is_staff %}
            <a href="{% url 'post_delete' post.slug %}"> Удалить пост <i class="fa-solid fa-delete-left"></i></a>
        {% endif %}
    </div>

    <br>

    <!-- Комментарии -->
    <div class="comment">
        {% if post.comment_set.exists %}
            <h3>Комментарии:</h3>
            <hr>
            {% for comment in post.comment_set.all %}
                <p>Автор комментария: "{{ comment.author_comm }}" | Время: {{ comment.time_comm }}</p>
                <h5>{{ comment.text|censor }}</h5>
                {% if comment.author_comm == request.user or request.user.is_staff %}
                <div class="update_or_delete_comm">
                    <a href="{% url 'post_comment_update' post.slug comment.pk %}" >Редактировать</a>
                    <a href="{% url 'comment_delete' post.slug comment.pk %}" >Удалить</a>
                </div>
                {% endif %}
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="no-comments">Комментариев пока нет. Будьте первым!</p>
        {% endif %}
    </div>
</div>
{% endblock content %}