{% extends 'flatpages/default.html' %}
{% load news_filters %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="postdetail">
    <h1>{{ post.title }}</h1>
    <p>Категория: {{ post.category }} | Автор: {{ post.author }} | Дата: {{ post.time }}</p>

    {% if post.media.all %}
        {% for m in post.media.all %}
            {% if m.media_type == 'photo' %}
                <img class="img-article-left" src="{{ m.file.url }}" alt="{{ post.title }}">
            {% elif m.media_type == 'video' %}
                <video class="video" controls>
                    <source src="{{ m.file.url }}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Медиа отсутствует</p>
    {% endif %}



    <h5>{{ post.text|censor }}</h5>

    <!-- Лайки -->
    <div class="like">
        <button class="like-btn" data-post-slug="{{ post.slug }}" data-url="{% url 'like_post' post.slug %}">
            {% if is_liked %}Убрать лайк{% else %}Лайк{% endif %}
        </button>
        <span class="like-count" data-post-slug="{{ post.slug }}">
            {{ post.like_count }}
        </span>


        <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.like-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                    console.log('Клик по лайку');
                    var url = button.dataset.url;
                    var slug = button.dataset.postSlug;

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        }
                    })
                    .then(res => res.json())
                    .then(data => {
                        button.textContent = data.liked ? 'Убрать лайк' : 'Лайк';
                        document.querySelector(`.like-count[data-post-slug="${slug}"]`).textContent = data.count;
                    })
                    .catch(console.error);
                });
            });
        });

        // Функция для получения csrf из cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        </script>

        <a href="{% url 'post_comment' post.slug %}"> Комментировать <i class="fa-regular fa-comment"></i></a>
        {% if post.author == request.user or request.user.is_staff %}
            <a href="{% url 'post_update' post.slug %}"> Редактировать <i class="fa-regular fa-pen-to-square"></i></a>
        {% endif %}
        {% if request.user.is_staff %}
            <form action="{% url 'post_delete' post.slug %}"
                  method="post"
                  style="display:inline;"
                  onsubmit="return confirm('Вы уверены, что хотите удалить пост?');">
                {% csrf_token %}
                <button type="submit" class="delete-btn">
                    Удалить пост <i class="fa-regular fa-trash-can"></i>
                </button>
            </form>
        {% endif %}
    </div>

    <br>

    <!-- Комментарии -->
    <div class="comment">
        {% if post.comment_set.exists %}
            <h3>Комментарии:</h3>
            <hr>
            {% for comment in post.comment_set.all %}
                <p>Автор комментария: "{{ comment.author_comm }}" | Время: {{ comment.time_comm }}</p>
                <h5>{{ comment.text|censor }}</h5>
                {% if comment.author_comm == request.user or request.user.is_staff %}
                <div class="update_or_delete_comm">
                    <a href="{% url 'post_comment_update' post.slug comment.pk %}" >Редактировать</a>
                    <a href="{% url 'comment_delete' post.slug comment.pk %}" >Удалить</a>
                </div>
                {% endif %}
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="no-comments">Комментариев пока нет. Будьте первым!</p>
        {% endif %}
    </div>
</div>
{% endblock content %}