{% extends 'flatpages/default.html' %}

{% block title %}Профиль пользователя{% endblock %}
{% block content %}
    <div class="profile">
    <h2> Страница пользователя {{request.user.username}}</h2>
    <div> Здесь может содержаться персональная информация для каждого пользователя </div>
<!--    {% if is_not_authors %}-->
<!--    <button> <a href="sign/upgrade/"> Стать автором!</a> </button>-->
<!--    {% endif %}-->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Выйти">
    </form>
    </div>
{% endblock content %}