/* примеры настройки стиля админ панели */
:root {
  --signboard-color: #48280f;
}

#header, .module caption, #changelist-filter h2 {
    background: var(--signboard-color);
}

div.breadcrumbs {
    background: #6a6e5d;
}